{% extends 'core/base.html' %}

{% block content %}

<h1>Add Activity</h1>

<a href="{% url 'activities_list' %}" class="btn">Back to Activities</a>

<br><br>

<div class="card">
    <form method="POST">
        {% csrf_token %}

        <label>Application</label><br>
        <select name="application" required>
            <option value="">Select Application</option>

            {% for application in applications %}
                <option value="{{ application.id }}">
                    {{ application.candidate.full_name }} - {{ application.job.job_title }}
                </option>
            {% endfor %}
        </select><br><br>

        <label>Activity Type</label><br>
        <input
            type="text"
            name="activity_type"
            placeholder="Call, Email, Follow-up, Reminder"
            required
        ><br><br>

        <label>Due Date</label><br>
        <input type="datetime-local" name="due_date" required><br><br>

        <label>Status</label><br>
        <select name="status" required>
            {% for value, label in status_choices %}
                <option value="{{ value }}">{{ label }}</option>
            {% endfor %}
        </select><br><br>

        <label>Notes</label><br>
        <textarea name="notes"></textarea><br><br>

        <button type="submit" class="btn">Save Activity</button>
    </form>
</div>

{% endblock %}