{% extends 'core/base.html' %}

{% block content %}

<h1>Candidates</h1>

<a href="{% url 'dashboard' %}" class="btn">Back to Dashboard</a>
<a href="{% url 'add_candidate' %}" class="btn">Add Candidate</a>

<br><br>

<div class="card">
    <table>
        <tr>
            <th>Full Name</th>
            <th>Phone</th>
            
            <th>Experience Years</th>
            <th>Source</th>
            <th>Actions</th>
        </tr>

        {% for candidate in candidates %}
        <tr>
            <td>{{ candidate.full_name }}</td>
            
            <td>{{ candidate.phone }}</td>
          
            <td>{{ candidate.experience_years }}</td>
            <td>{{ candidate.source }}</td>
            <td>
                <a href="{% url 'candidate_details' candidate.id %}">View</a> |
                <a href="{% url 'edit_candidate' candidate.id %}">Edit</a> |
                <a href="{% url 'delete_candidate' candidate.id %}">Delete</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="7">No candidates found.</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}