{% extends 'core/company_dashboard/base_company.html' %}

{% block content %}

<div class="dashboard-header">
    <div>
        <h1>Candidates</h1>
        <p>Search and review available candidates.</p>
    </div>
</div>

<div class="card search-card">
    <form method="GET" class="search-form">
        <input
            type="text"
            name="search"
            placeholder="Search by candidate name..."
            value="{{ search_query }}"
        >

        <button type="submit" class="small-btn view-btn">
            <i class="fa-solid fa-magnifying-glass"></i>
            Search
        </button>
    </form>
</div>

<div class="card">
    {% if candidates %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Current Position</th>
                    <th>Experience</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                {% for candidate in candidates %}
                <tr>
                    <td>
                        <strong>{{ candidate.full_name }}</strong>
                    </td>
                    <td>{{ candidate.phone }}</td>
                    <td>{{ candidate.current_position|default:"No position added" }}</td>
                    <td>
                        <span class="status-pill">
                            {{ candidate.experience_years }} Years
                        </span>
                    </td>
                    <td>
                        <a href="{% url 'company_candidate_details' candidate.id %}" class="small-btn view-btn">
                            <i class="fa-solid fa-eye"></i> View
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="empty-state">
            <div class="empty-icon">
                <i class="fa-solid fa-users"></i>
            </div>

            <h2>No candidates found</h2>
            <p>Try searching with another candidate name.</p>
        </div>
    {% endif %}
</div>

{% endblock %}