{% extends 'core/base.html' %}

{% block content %}

<h1>Add Job</h1>

<a href="{% url 'jobs_list' %}" class="btn">Back to Jobs</a>

<br><br>

<div class="card">
    <form method="POST">
        {% csrf_token %}

        <label>Company</label><br>
        <select name="company" required>
            <option value="">Select Company</option>
            {% for company in companies %}
                <option value="{{ company.id }}">{{ company.company_name }}</option>
            {% endfor %}
        </select><br><br>

        <label>Job Title</label><br>
        <input type="text" name="job_title" required><br><br>

        <label>Location</label><br>
        <input type="text" name="location" required><br><br>

        <label>Required Skills</label><br>
        <textarea name="required_skills" required></textarea><br><br>

        <label>Status</label><br>
        <input type="text" name="status" value="Open"><br><br>

        <label>Job Type</label><br>
        <input type="text" name="job_type" placeholder="Full-time, Part-time, Remote"><br><br>

        <label>Salary Range</label><br>
        <input type="text" name="salary_range"><br><br>

        <label>Description</label><br>
        <textarea name="description"></textarea><br><br>

        <button type="submit" class="btn">Save Job</button>
    </form>
</div>

{% endblock %}