{% extends 'core/candidate_dashboard/base_candidate.html' %}

{% block content %}

<div class="page-header">
    <div>
        <h1>Interview Details</h1>
        <p class="page-subtitle">View your scheduled interview information.</p>
    </div>

    <a href="{% url 'candidate_interviews_list' %}" class="secondary-btn">
        <i class="fa-solid fa-arrow-left"></i>
        Back
    </a>
</div>

<div class="details-grid">
    <div class="card info-section-card">
        <h3>
            <i class="fa-solid fa-briefcase"></i>
            Job Information
        </h3>

        <p><strong>Job:</strong> {{ interview.application.job.job_title }}</p>
        <p><strong>Company:</strong> {{ interview.application.job.company.company_name }}</p>
        <p><strong>Location:</strong> {{ interview.application.job.location }}</p>
    </div>

    <div class="card info-section-card">
        <h3>
            <i class="fa-solid fa-calendar-check"></i>
            Interview Information
        </h3>

        <div class="info-box">
            <span>Date</span>
            <strong>{{ interview.interview_date }}</strong>
        </div>

        <br>

        <div class="info-box">
            <span>Type</span>
            <strong>{{ interview.interview_type }}</strong>
        </div>

        <br>

        <div class="info-box">
            <span>Status</span>
            <strong>{{ interview.status }}</strong>
        </div>
    </div>
</div>

<div class="card info-section-card" style="margin-top: 20px;">
    <h3>
        <i class="fa-solid fa-note-sticky"></i>
        Notes
    </h3>

    <p>{{ interview.notes|default:"No notes added." }}</p>
</div>

{% endblock %}