{% extends 'core/candidate_dashboard/base_candidate.html' %}

{% block content %}

<h1>Application Details</h1>

<div class="page-actions">
    <a href="{% url 'candidate_applications_list' %}" class="small-btn view-btn">Back to Applications</a>
</div>

<div class="card">
    <h3>Job Information</h3>

    <p><strong>Job Title:</strong> {{ application.job.job_title }}</p>
    <p><strong>Company:</strong> {{ application.job.company.company_name }}</p>
    <p><strong>Job Type:</strong> {{ application.job.job_type }}</p>
    <p><strong>Location:</strong> {{ application.job.location }}</p>
</div>

<br>

<div class="card">
    <h3>Application Status</h3>

    <p><strong>Status:</strong> {{ application.status }}</p>
    <p><strong>Applied Date:</strong> {{ application.applied_date }}</p>
    <p><strong>Notes:</strong> {{ application.notes }}</p>
</div>

{% endblock %}