{% extends 'core/company_dashboard/base_company.html' %}
{% block content %}

<div class="delete-wrapper">
    <div class="delete-card">
        <div class="delete-icon">
            <i class="fa-solid fa-triangle-exclamation"></i>
        </div>

        <h1>Delete Job?</h1>

        <p>
            Are you sure you want to delete
            <strong>{{ job.job_title }}</strong>?
            This action cannot be undone.
        </p>

        <form method="POST" class="delete-actions">
            {% csrf_token %}

            <a href="{% url 'company_jobs_list' %}" class="secondary-btn">
                Cancel
            </a>

            <button type="submit" class="danger-btn">
                <i class="fa-solid fa-trash"></i> Yes, Delete
            </button>
        </form>
    </div>
</div>

{% endblock %}