{% extends 'core/admin_dashboard/base_admin.html' %}

{% block content %}

<h1>Add Interview</h1>

<a href="{% url 'interviews_list' %}" class="btn">Back to Interviews</a>

<br><br>

<div class="card">
    <form method="POST">
        {% csrf_token %}

        <label>Application</label><br>
        <select name="application" required>
            <option value="">Select Application</option>
            {% for application in applications %}
                <option value="{{ application.id }}">
                    {{ application.candidate.full_name }} - {{ application.job.job_title }}
                </option>
            {% endfor %}
        </select><br><br>

        <label>Interview Date</label><br>
        <input type="datetime-local" name="interview_date" required><br><br>

        <label>Interview Type</label><br>
        <input type="text" name="interview_type" placeholder="Online, Phone, On-site" required><br><br>

        <label>Status</label><br>
        <select name="status" required>
            {% for value, label in status_choices %}
                <option value="{{ value }}">{{ label }}</option>
            {% endfor %}
        </select><br><br>

        <label>Notes</label><br>
        <textarea name="notes"></textarea><br><br>

        <button type="submit" class="btn">Save Interview</button>
    </form>
</div>

{% endblock %}