{% extends 'core/base.html' %}

{% block content %}

<h1>Recruitment CRM Dashboard</h1>

<div class="stats-container">

    <div class="stat-card">
        <h3>Total Candidates</h3>
        <p>{{ candidates_count }}</p>
    </div>

    <div class="stat-card">
        <h3>Total Companies</h3>
        <p>{{ companies_count }}</p>
    </div>

    <div class="stat-card">
        <h3>Total Jobs</h3>
        <p>{{ jobs_count }}</p>
    </div>

    <div class="stat-card">
        <h3>Total Applications</h3>
        <p>{{ applications_count }}</p>
    </div>

    <div class="stat-card">
        <h3>Total Interviews</h3>
        <p>{{ interviews_count }}</p>
    </div>

</div>

<br>

<a href="{% url 'candidates_list' %}" class="btn">
    View Candidates
</a>

{% endblock %}