{% extends 'core/company_dashboard/base_company.html' %}

{% block content %}

<div class="page-header">
    <div>
        <h1>Schedule Interview</h1>
        <p class="page-subtitle">Create an interview for this candidate application.</p>
    </div>

    <a href="{% url 'company_application_details' application.id %}" class="secondary-btn">
        <i class="fa-solid fa-arrow-left"></i>
        Back to Application
    </a>
</div>

<div class="card info-section-card">
    <h3><i class="fa-solid fa-circle-info"></i> Application Summary</h3>

    <p><strong>Candidate:</strong> {{ application.candidate.full_name }}</p>
    <p><strong>Job:</strong> {{ application.job.job_title }}</p>
</div>

<br>

<div class="card job-form-card">
    <form method="POST">
        {% csrf_token %}

        <div class="form-grid">
            <div class="form-group">
                <label>Interview Date</label>
                <input type="datetime-local" name="interview_date" required>
            </div>

            <div class="form-group">
                <label>Interview Type</label>
                <input type="text" name="interview_type" placeholder="Online / On-site" required>
            </div>

            <div class="form-group">
                <label>Status</label>
                <select name="status">
                    <option value="Scheduled">Scheduled</option>
                    <option value="Completed">Completed</option>
                    <option value="Cancelled">Cancelled</option>
                </select>
            </div>

            <div class="form-group full-width">
                <label>Notes</label>
                <textarea name="notes" placeholder="Add interview notes or instructions..."></textarea>
            </div>
        </div>

        <div class="form-footer">
            <button type="submit" class="primary-btn">
                <i class="fa-solid fa-calendar-plus"></i>
                Save Interview
            </button>
        </div>
    </form>
</div>

{% endblock %}