{% extends 'core/admin_dashboard/base_admin.html' %}
{% block content %}

<h1>Add Company</h1>

<a href="{% url 'companies_list' %}" class="btn">Back to Companies</a>

<br><br>

<div class="card">
    <form method="POST">
        {% csrf_token %}

        <label>Company Name</label><br>
        <input type="text" name="company_name" required><br><br>

        <label>Contact Name</label><br>
        <input type="text" name="contact_name" required><br><br>

        

        <label>Phone</label><br>
        <input type="text" name="phone" required><br><br>

        <label>Website</label><br>
        <input type="url" name="website"><br><br>

        <label>LinkedIn URL</label><br>
        <input type="url" name="linkedin_url"><br><br>

        <label>Industry</label><br>
        <input type="text" name="industry" required><br><br>

        <label>Country</label><br>
        <input type="text" name="country" required><br><br>

        <label>Company Size</label><br>
        <input type="text" name="company_size"><br><br>

        <label>Notes</label><br>
        <textarea name="notes"></textarea><br><br>

        <button type="submit" class="btn">Save Company</button>
    </form>
</div>

{% endblock %}