{% extends 'core/admin_dashboard/base_admin.html' %}

{% block content %}

<h1>Companies</h1>

<a href="{% url 'dashboard' %}" class="btn">Back to Dashboard</a>
<a href="{% url 'add_company' %}" class="btn">Add Company</a>

<br><br>

<div class="card">
    <table>
        <tr>
            <th>Company Name</th>
            <th>Contact Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Industry</th>
            <th>Country</th>
            <th>Actions</th>
        </tr>

        {% for company in companies %}
        <tr>
            <td>{{ company.company_name }}</td>
            <td>{{ company.contact_name }}</td>
            <td>
                {% if company.user %}
                    {{ company.user.username }}
                {% else %}
                    No Account
                {% endif %}
            </td>

            <td>
                {% if company.user %}
                    {{ company.user.email }}
                {% else %}
                    No Email
                {% endif %}
            </td>
            <td>{{ company.phone }}</td>
            <td>{{ company.industry }}</td>
            <td>{{ company.country }}</td>
            <td>
                <a href="{% url 'company_details' company.id %}">View</a> |
                <a href="{% url 'edit_company' company.id %}">Edit</a> |
                <a href="{% url 'delete_company' company.id %}">Delete</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="8">No companies found.</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}