{% extends 'core/admin_dashboard/base_admin.html' %}

{% block content %}

<h1>Edit Job</h1>

<a href="{% url 'jobs_list' %}" class="btn">Back to Jobs</a>

<br><br>

<div class="card">
    <form method="POST">
        {% csrf_token %}

        <label>Company</label><br>
        <select name="company" required>
            {% for company in companies %}
                <option value="{{ company.id }}" {% if company.id == job.company.id %}selected{% endif %}>
                    {{ company.company_name }}
                </option>
            {% endfor %}
        </select><br><br>

        <label>Job Title</label><br>
        <input type="text" name="job_title" value="{{ job.job_title }}" required><br><br>

        <label>Location</label><br>
        <input type="text" name="location" value="{{ job.location }}" required><br><br>


        <label>Status</label><br>
        <input type="text" name="status" value="{{ job.status }}"><br><br>

        <label>Job Type</label><br>
        <input type="text" name="job_type" value="{{ job.job_type }}"><br><br>

        <label>Max Salary</label><br>
        <input type="text" name="salary_range" value="{{ job.salary_range }}"><br><br>

        <label>Min Range</label><br>
        <input type="text" name="salary_range" value="{{ job.salary_range }}"><br><br>

        <label>Description</label><br>
        <textarea name="description">{{ job.description }}</textarea><br><br>

        <button type="submit" class="btn">Update Job</button>
    </form>
</div>

{% endblock %}