{% extends 'core/base.html' %}

{% block content %}

<h1>Job Details</h1>

<a href="{% url 'jobs_list' %}" class="btn">Back to Jobs</a>
<a href="{% url 'edit_job' job.id %}" class="btn">Edit Job</a>

<br><br>

<div class="card">
    <p><strong>Job Title:</strong> {{ job.job_title }}</p>
    <p><strong>Company:</strong> {{ job.company.company_name }}</p>
    <p><strong>Location:</strong> {{ job.location }}</p>
    <p><strong>Required Skills:</strong> {{ job.required_skills }}</p>
    <p><strong>Status:</strong> {{ job.status }}</p>
    <p><strong>Job Type:</strong> {{ job.job_type }}</p>
    <p><strong>Salary Range:</strong> {{ job.salary_range }}</p>
    <p><strong>Description:</strong> {{ job.description }}</p>
    <p><strong>Created At:</strong> {{ job.created_at }}</p>
</div>

{% endblock %}