{% extends 'core/admin_dashboard/base_admin.html' %}

{% block content %}

<h1>Delete Activity</h1>

<div class="card">
    <p>
        Are you sure you want to delete activity for
        <strong>{{ activity.application.candidate.full_name }}</strong>?
    </p>

    <form method="POST">
        {% csrf_token %}

        <button type="submit" class="btn">
            Yes, Delete
        </button>

        <a href="{% url 'activities_list' %}" class="btn">
            Cancel
        </a>
    </form>
</div>

{% endblock %}